@model Plaboo.Models.councilRate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>councilRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rank)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.council }) |
    @Html.ActionLink("Back to List", "Index")
</p>
