@{
    var Rank = ViewBag.Rank;
}

    <head>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <style>

            .stats {
                height: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                width: 100%;
                background-color: azure;
            }

            text {
                font-family: "Verdana", sans-serif;
            }

            #chart {
                max-width: 600px;
            }

            #top3:hover {
                -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
                box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
            }

            .img-responsive {
                width: 100%;
                height: auto;
            }

            .last {
                border: 2px solid red;
            }

            .party-popper {
  position: absolute;
  top: 85%;
  left: 15%;
  height:auto;
}
.party-popper__emoji {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  -webkit-transform: translate(-50%) rotate(-30deg);
          transform: translate(-50%) rotate(-30deg);
  z-index: 1;
}
        </style>
    </head>

<body>
 
    <div class="stats" style="height:400px;margin-top:50px;margin-bottom:50px;">
        <div class="hero-text" style="    text-align: center;
        transform: translate(-50%, -20%);
        position: absolute;
        left: 50%;
        top: 20%;
    ">




            <h1 style="font-family:Calibri;color:indianred"><b>@ViewBag.Council <br /> Recycling Rate</b> </h1>
            <div id="chart" style="margin-top:30px;"></div>
            <h1 style="font-family:Calibri; margin-top:-40px;margin-bottom:10px;font-size:26px;"><b>#@Rank in 79 Councils</b></h1>
            <div id="party" style="display:none" class="party-popper">
                <div class="party-popper__emoji">🎉</div>
            </div>
            <script src='https://cdn.jsdelivr.net/mojs/latest/mo.min.js'></script>
            <script src='https://cdn.jsdelivr.net/mojs-player/latest/mojs-player.min.js'></script>

            <script src="~/Scripts/confetti.js"></script>
            @*javascript to show the gauge*@
            <script src="~/Scripts/gauge.js"></script>

            <script>
                function randNumberBounds() {
                    var Rate1 = '@ViewBag.Rate';

                    return parseInt(Rate1);
                }

                (function () {
                    var gauge = gaugeChart()
                        .width(260)
                        .height(250)
                        .innerRadius(50)
                        .outerRadius(80);

                    d3.select("#chart").datum([randNumberBounds()]).call(gauge);

                    function resize() {
                        var gWidth = Math.min(d3.select("#chart").node().offsetWidth, 400);
                        gauge.width(gWidth).innerRadius(gWidth / 4).outerRadius((gWidth / 4) + 40);
                        d3.select("#chart").call(gauge);
                    }

                    resize();
                    window.addEventListener("resize", resize);


                })()
            </script>
        </div>
    </div>

    <div class="row">
        
            <div class="col-md-12" >
                <div class="col-md-2"></div>
               
                    <div class="col-md-4">
                        <p style="font-family:'Calibri';font-size:22px;background-color:azure;margin-top:0px;">
                            <b>What is Recycling Rate?</b><br />'Recycling Rate' is a measure to assess the proportion of disposable or recyclable waste items.
                            Some products may not be recyclable because the processing center has been polluted or cannot handle such recyclable materials.
                            <br /><b>Recycling Rate</b> = Annual total waste recycled/ Annual total waste generation
                        </p>
                    </div>
                    <div class="col-md-4">
                        @*<img  class="img-responsive" onclick="location.href='@Url.Action("Index", "councilRates")'" id="top3"
        src="~/Content/Images/top3councils.jpeg" target="_blank" />*@
                        <div class="col-md-12" style="">
                            <h3 style="color:indianred"><b>Top Councils in Melbourne</b></h3>
                        </div>
                        <div class="row" style="margin:5px;">
                            <table class="table table-striped table-bordered" data-order='[[0, "asc"]]'>
                                <thead>
                                    <tr>
                                        <th style="background-color:skyblue;">
                                            Rank in Melbourne

                                        </th>
                                        <th style="background-color:skyblue;">
                                            Council Name

                                        </th>
                                        <th style="background-color:skyblue;">
                                            Recycling Rate

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Strathbogie Shire
                                        </td>
                                        <td>
                                            48
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>
                                            2

                                        </td>
                                        <td>
                                            Bass Coast Shire
                                        </td>
                                        <td>
                                            47
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Alpine Shire
                                        </td>
                                        <td>
                                            43
                                        </td>


                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <a style="font-size:23px;color:#0275d8;font-family:Calibri" href="@Url.Action("Index", "councilRates")">
                                View Full Results <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
                        @section Scripts {

                            <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
                            <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
                            @*this script is to show the datatable to show details of all councils*@
                            <script>
                                $(document).ready(function () {
                                    $('.table').DataTable({ "stripeClasses": ['odd-row', 'even-row'] });

                                });

                            </script>
                        }
                        <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
                    </div>
               
                <div class="col-md-2"></div>
                @*<div class="col-md-12" style="margin-top:20px;">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:left;">
                        <button id="allCouncils" style="margin-left:13px;" type="button" class="btn btn-primary"
                                onclick="location.href='@Url.Action("Index", "councilRates")'">
                            <i class="fa fa-cog fa-spin"></i> View Full Result
                        </button>
                    </div>

                </div>*@
            </div>
           
        </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align:center;margin-top:10px;">
                <img style="height:50px;width:50px;" src="~/Content/Images/arrowdown.PNG" />
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

        <div class="row" style="margin-top:16px;">

            <div class="col-md-12" style="margin-top:20px;">
                <h1 style="color:indianred;font-size:37px;text-align:center">Make Victoria Recycling Great Again</h1>
            </div>
            <div class="col-md-12" style="margin-top:20px;">
                <div class="col-md-1">

                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="~/Content/Images/VICrecycling.gif" />
                </div>

                <div class="col-md-4 align-items-center justify-content-center" style="text-align:left;margin-top:20px;margin-left:5px;">
                    <p class="center" style="background-color:azure;font-family:'Calibri';font-size:22px;">
                        <b>Did you know</b>, for every 10,000 tonnes (which is around 1% increase in recycling rate)  of waste recycled, 9.2 jobs are created. As seen in the graph,
                        the recycling rate in Victoria had been stable (but not very impressive), so together, let's all pledge to 'Make Victoria Recycling Great Again!'
                    </p>
                    @*<button type="button" class="btn btn-primary flip" style="margin-left: 0px; margin-top: 0px;width:170px;"
                            onclick="location.href='@Url.Action("RecyclingSuggestions", "Home")'">
                        <i class="fa fa-cog fa-spin"></i> Learn More
                    </button>*@
                <a style="font-size:23px;color:#0275d8;font-family:Calibri" href="@Url.Action("RecyclingSuggestions", "Home")">
                    How To Improve? <i class="fas fa-arrow-circle-right"></i>
                </a>
                </div>
                <div class="col-md-1">
                    

                </div>
            </div>

        </div>
</body>

<script>
   $("._mojs-player_tes6w_4").hide();
    //javascript - when the button is clicked scroll down to the bottom of the page
    $(document).ready(function () {
        $('html, body').animate({ scrollTop: $(window).height() / 1.5 }, 'slow');
       
        if (@Rank== 1 || @Rank== 2 || @Rank== 3) {  $("#party").show();$("._mojs-player_tes6w_4").hide(); }
        $("._mojs-player_tes6w_4").hide();
         

    });
</script>
