@model IEnumerable<Plaboo.Models.Plastic>


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




    <style>

        .navbar {
            background-color: black !important;
        }

        .navbar-toggle {
            background-color: lightyellow;
        }



        .inner {
            overflow: hidden;
        }

            .inner img:hover {
                animation: shake 0.9s;
                animation-iteration-count: infinite;
            }

        @@keyframes shake {
            0% {
                transform: translate(1px, 1px) rotate(0deg);
            }

            10% {
                transform: translate(-1px, -2px) rotate(-1deg);
            }

            20% {
                transform: translate(-3px, 0px) rotate(1deg);
            }

            30% {
                transform: translate(3px, 2px) rotate(0deg);
            }

            40% {
                transform: translate(1px, -1px) rotate(1deg);
            }

            50% {
                transform: translate(-1px, 2px) rotate(-1deg);
            }

            60% {
                transform: translate(-3px, 1px) rotate(0deg);
            }

            70% {
                transform: translate(3px, 1px) rotate(-1deg);
            }

            80% {
                transform: translate(-1px, -1px) rotate(1deg);
            }

            90% {
                transform: translate(1px, 2px) rotate(0deg);
            }

            100% {
                transform: translate(1px, -2px) rotate(-1deg);
            }
        }

        .modal.fade .modal-dialog {
            opacity: 0;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s;
            transform: scale(0) rotate(500deg);
        }

        .modal.fade.in .modal-dialog {
            opacity: 1;
            transform: scale(1) rotate(0deg);
        }

        .modal-backdrop {
            background-color: gray;
        }

        .modal-header {
            background-color: cornsilk;
            color: white;
        }

        .modal-body {
            background-color: cornsilk;
            color: white;
        }

         .modal-footer {
            background-color: cornsilk;
            color: white;
        }

        .mcontent {
            color: black;
            font-family: 'Comic Sans MS';
        }

        #harmindex1 {
            animation: blinking 1.5s infinite;
            font-size: 15px;
        }

        @@keyframes blinking {
            0% {
                color: red;
            }

            47% {
                color: #000;
            }

            62% {
                color: transparent;
            }

            97% {
                color: transparent;
            }

            100% {
                color: #000;
            }
        }

        #bg {
            position: fixed;
            top: 0;
            left: 0;
            /* Preserve aspet ratio */
            min-width: 100%;
            min-height: 100%;
        }

        .imgsize {
            height: 180px;
            width: 200px;
            margin-top: 40px;
            margin-left: 10px;
            border: 2px solid #555;
        }

        #bg {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
        }

         .navbar-inverse{
           height:50px;
       }
    </style>
</head>

<body>
    <img src="~/Content/Images/plastic.jpg" id="bg" alt="">

    <!-- <video controls="controls" autoplay muted loop id="bg">
            <source src="~/Content/Images/underwaterbubbles2.mp4" type="video/mp4" />
        </video>-->
    <div class="container">

        <div class="row justify-content-center">


            @foreach (var item in Model)
            {

                <div class="col-md-3">
                    <div class="inner" style="text-align:center">
                        <img desc="@item.Description" alternative="@item.Alternative" src=@item.Image
                             harmindex="@item.Harmindex" reason="@item.Reason" data-toggle="tooltip" data-html="true"
                             title="Click me"
                             class="card-img-top imgsize img-circle" alt="Missing img">
                        <p style="font-family:'Comic Sans MS'"><b>@item.Description</b></p>

                    </div>
                </div>
            }

        </div>

    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="resizemodal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="color:black; font-family:'Comic Sans MS'" class="modal-title">Do you know?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mcontent" id="item1">Item:</p>

                    <p class="mcontent" id="harmindex1">Harmindex:</p>

                    <p class="mcontent" id="reason1">Reason:</p>

                    <p class="mcontent" id="alternative1">Alternative:</p>
                </div>
                <div class="modal-footer" style="text-align:left;">
                    <p style="color:black;font-family:'Comic Sans MS'">* Plastic Harm Scale refers to the level of severe impact
                    the plastic item has on the environment. This number is on a scale of 1 to 5 which is calculated 
                    using our Mathematical Model.</p>
                </div>
            </div>
        </div>
    </div>

</body>
    </html>

    <script>
        $(document).ready(function () {
            function alignModal(reason, alternative, harmindex,description) {

                var modalDialog = $("#resizemodal");
                /* Applying the top margin on modal dialog to align it vertically center */
                modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2.5));
                 $("#item1")[0].innerHTML = "<b>Item: </b>" + description;
                $("#reason1")[0].innerHTML = "<b>Why Harmful? </b>" + reason;
                $("#alternative1")[0].innerHTML = "<b>Alternative: </b>" + alternative;
                $("#harmindex1")[0].innerHTML = "<b>Plastic Harm Scale: </b>" + harmindex;
                // var reason1 = $("#reason1");
                // reason1[0].lastChild.data = "Reason: " + reason;
                //var alternative1 = $("#alternative1");
                //alternative1[0].lastChild.data = "Alternative: " + alternative;
                //var harmindex1 = $("#harmindex1");
                //harmindex1[0].lastChild.data = "Plastic Harm Scale: " + harmindex + " out of 5";
            }
            $(".imgsize").click(function (e) {
                alignModal($(this).attr('reason'), $(this).attr('alternative'),
                    $(this).attr('harmindex'),$(this).attr('desc'));
                $("#exampleModalCenter").modal('show');


            });
        });
    </script>

    <!--
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <img src="~/Images/Alternative.jpg" class="card-img-top center-block imgsize" alt="Missing img">
            </div>
            <div class="col-md-2">
                <img src="~/Images/Alternative.jpg" class="card-img-top center-block imgsize" alt="Missing img">
            </div>
            <div class="col-md-2">
                <img src="~/Images/Alternative.jpg" class="card-img-top center-block imgsize" alt="Missing img">
            </div>
            <div class="col-md-2">
                <img src="~/Images/Alternative.jpg" class="card-img-top center-block imgsize" alt="Missing img">
            </div>
            <div class="col-md-2">
                <img src="~/Images/Alternative.jpg" class="card-img-top center-block imgsize" alt="Missing img">
            </div>
        </div>
    </div>

    -->
