@model IEnumerable<Plaboo.Models.Plastic>


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>





    <style>

        .navbar {
            background-color: white !important;
        }


        .inner {
            overflow: hidden;
        }


        .modal.fade .modal-dialog {
            opacity: 0;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s;
            transform: scale(0) rotate(500deg);
        }

        .modal.fade.in .modal-dialog {
            opacity: 1;
            transform: scale(1) rotate(0deg);
        }

        .modal-backdrop {
            background-color: gray;
        }

        .modal-header {
            background-color: azure;
            color: white;
        }

        .modal-body {
            background-color:  azure;
            color: white;
        }

        .modal-footer {
            background-color:  azure;
            color: white;
        }

        .mcontent {
            color: black;
            font-family: 'Calibri';
        }

        #item1 {
            animation: blinking 1.5s infinite;
            font-size: 15px;
        }

        @@keyframes blinking {
            0% {
                color: red;
            }

            47% {
                color: #000;
            }

            62% {
                color: transparent;
            }

            97% {
                color: transparent;
            }

            100% {
                color: #000;
            }
        }

        #bg {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
        }

        /*.imgsize {
                    height: 180px;
                    width: 200px;
                    margin-top: 40px;

                    border: 2px solid #555;
                }*/
        .imgsize {
            height: 100px;
            width: 110px;
            margin-top: 40px;
            /*border: 4px inset #555;

                    animation: example 3s infinite;*/
        }

        /*@@keyframes example {
          from {border: 4px inset #555;}
          to {border: 4px inset #ed5d2e;}
        }*/




        img:hover {
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        }
    </style>
</head>

<body>



    @*<div class="row">
            <div class="col-md-12">
                <p style="text-align:center;font-family:'Calibri';color:midnightblue;margin-top:30px;font-size:1.5em;">
                Tap on the images to see Alternatives!</p>
            </div>
        </div>*@
    <div class="container-fluid">
        <div class="row" style="background-color:azure;text-align:center">
            <div class="col-md-4">

            </div>
            <div class="col-md-1"> <img style="height:70px;width:70px;margin-top:30px;margin-bottom:10px;border:1px solid black;" id="all" src="~/Content/Images/all.png" /></div>
            <div class="col-md-1">
                <img style="height: 70px;width: 70px;margin-top: 30px;margin-bottom: 10px;border:1px solid black;" id="travel" src="~/Content/Images/travel.png" />
            </div>
            <div class="col-md-1">
                <img style=" height: 70px; width: 80px; margin-top: 30px; margin-bottom: 10px;border:1px solid black; " id="bathroom" src="~/Content/Images/bathroom.png" />
            </div>
            <div class="col-md-1">
                <img style="        height: 70px;
        width: 70px;
        margin-top: 30px;
        margin-bottom: 10px;border:1px solid black;" id="leisure" src="~/Content/Images/leisure.png" />
            </div>
            <div class="col-md-1"> <img style="height:70px;width:70px;margin-top:30px;margin-bottom:10px;border:1px solid black;" id="kitchen" src="~/Content/Images/kitchen.png" /></div>
            <div class="col-md-3">

            </div>
        </div>
        @*<div class="row" style="background-color:azure;">
                <div class="col-md-4">

                </div>
                <div class="col-md-1" style="text-align:left;"><p style="font-family:'Calibri'"><b>All</b></p></div>
                <div class="col-md-1" style="text-align:left;">
                    <p style="font-family:'Calibri';text-align:left;"><b>Travel</b></p>
                </div>
                <div class="col-md-1" style="text-align:left;">
                    <p style="font-family:'Calibri'"><b>Bathroom</b></p>
                </div>
                <div class="col-md-1" style="text-align:left;">
                    <p style="font-family:'Calibri'"><b>Leisure</b></p>
                </div>
                <div class="col-md-1" style="text-align:left;"><p style="font-family:'Calibri'"><b>Kitchen</b></p></div>
                <div class="col-md-3">

                </div>
            </div>*@

    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align:center;font-family:'Calibri';color:midnightblue;margin-top:30px;font-size:1.5em;">
                Tap on the images to see alternatives for your plastic items!
            </p>
        </div>
    </div>
    <div class="container">
        <div id="alldiv" class="row justify-content-center">

            @foreach (var item in Model)
            {

                <div class="col-md-3">
                    <div class="inner" style="text-align:center">
                        <img id="imageid" desc="@item.Description" alternative="@item.Alternative" src=@item.Image
                             harmindex="@item.HarmMeasure" reason="@item.Reason" data-toggle="tooltip" data-html="true"
                             title="Click me"
                             class="card-img-top imgsize img-circle" alt="Missing img">
                        <p style="font-family:'Calibri'"><b>@item.Description</b></p>

                    </div>
                </div>
            }

        </div>

        <div id="kitchendiv" class="row justify-content-center" style="display:none">

            @foreach (var item in Model)
            {
                if (item.Classification.Equals("Kitchen"))
                {

                    <div class="col-md-3">
                        <div class="inner" style="text-align:center">
                            <img id="imageid" desc="@item.Description" alternative="@item.Alternative" src=@item.Image
                                 harmindex="@item.HarmMeasure" reason="@item.Reason" data-toggle="tooltip" data-html="true"
                                 title="Click me"
                                 class="card-img-top imgsize img-circle" alt="Missing img">
                            <p style="font-family:'Calibri'"><b>@item.Description</b></p>

                        </div>
                    </div>
                }
            }
        </div>

        <div id="traveldiv" class="row justify-content-center" style="display: none">

            @foreach (var item in Model)
            {
                if (item.Classification.Equals("Travel"))
                {

                    <div class="col-md-3">
                        <div class="inner" style="text-align:center">
                            <img id="imageid" desc="@item.Description" alternative="@item.Alternative" src=@item.Image
                                 harmindex="@item.HarmMeasure" reason="@item.Reason" data-toggle="tooltip" data-html="true"
                                 title="Click me"
                                 class="card-img-top imgsize img-circle" alt="Missing img">
                            <p style="font-family:'Calibri'"><b>@item.Description</b></p>

                        </div>
                    </div>
                }
            }
            <div id="extraspace" style="height:320px;"></div>
        </div>

        <div id="leisurediv" class="row justify-content-center" style="display:none">

            @foreach (var item in Model)
            {
                if (item.Classification.Equals("Leisure"))
                {

                    <div class="col-md-3">
                        <div class="inner" style="text-align:center">
                            <img id="imageid" desc="@item.Description" alternative="@item.Alternative" src=@item.Image
                                 harmindex="@item.HarmMeasure" reason="@item.Reason" data-toggle="tooltip" data-html="true"
                                 title="Click me"
                                 class="card-img-top imgsize img-circle" alt="Missing img">
                            <p style="font-family:'Calibri'"><b>@item.Description</b></p>

                        </div>
                    </div>
                }
            }
        </div>

        <div id="bathroomdiv" class="row justify-content-center" style=" display: none ">

            @foreach (var item in Model)
            {
                if (item.Classification.Equals("Bathroom"))
                {

                    <div class="col-md-3">
                        <div class="inner" style="text-align:center">
                            <img id="imageid" desc="@item.Description" alternative="@item.Alternative" src=@item.Image
                                 harmindex="@item.HarmMeasure" reason="@item.Reason" data-toggle="tooltip" data-html="true"
                                 title="Click me"
                                 class="card-img-top imgsize img-circle" alt="Missing img">
                            <p style="        font-family: 'Calibri'
"><b>@item.Description</b></p>

</div>
</div>
}
}
        </div>


    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="resizemodal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="color:black; font-family:'Calibri'" class="modal-title">Do you know?</h4>
                    @*<h4 id="harmindex1" style="color:black; font-family:'Calibri'" class="modal-title">Harmindex:</h4>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mcontent" id="item1">Item:</p>

                    <p class="mcontent" id="carharm">Energy:</p>

                    <p class="mcontent" id="reason1">Reason:</p>

                    <p class="mcontent" id="alternative1">Alternative:</p>
                </div>
                @*<div class="modal-footer" style="text-align:left;">
                                <p style="        color: black;
                    font-family: 'Calibri'">
                                    * Plastic Harm Scale refers to the level of severe impact
                                    the plastic item has on the environment. This number is on a scale of 1 to 5 which is calculated
                                    using our Mathematical Model.
                                </p>
                            </div>*@
            </div>
        </div>
    </div>

</body>
</html>

<script>
    $(document).ready(function () {

        function alignModal(reason, alternative, harmindex, description) {

            var modalDialog = $("#resizemodal");
            /* Applying the top margin on modal dialog to align it vertically center */
            modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 3.5));

            $("#item1")[0].innerHTML = "<b>Item: </b>" + description;
            $("#reason1")[0].innerHTML = "<b>Why Harmful? </b>" + reason;
            $("#alternative1")[0].innerHTML = "<b>Alternative: </b>" + alternative;
            $("#carharm")[0].innerHTML = "<b>Energy Consumed: </b>" + harmindex;
        }
        $(".imgsize").click(function (e) {
            alignModal($(this).attr('reason'), $(this).attr('alternative'),
                $(this).attr('harmindex'), $(this).attr('desc'));
            $("#exampleModalCenter").modal('show');


        });


        $("#kitchen").click(function (e) {
            $("#alldiv").hide();
            $("#traveldiv").hide();
            $("#leisurediv").hide();
            $("#bathroomdiv").hide();
            $("#kitchendiv").show();
        });

        $("#all").click(function (e) {
            $("#alldiv").show();
            $("#traveldiv").hide();
            $("#leisurediv").hide();
            $("#bathroomdiv").hide();
            $("#kitchendiv").hide();
        });

        $("#travel").click(function (e) {
            $("#alldiv").hide();
            $("#traveldiv").show();
            $("#leisurediv").hide();
            $("#bathroomdiv").hide();
            $("#kitchendiv").hide();
        });

        $("#leisure").click(function (e) {
            $("#alldiv").hide();
            $("#traveldiv").hide();
            $("#leisurediv").show();
            $("#bathroomdiv").hide();
            $("#kitchendiv").hide();
        });

        $("#bathroom").click(function (e) {
            $("#alldiv").hide();
            $("#traveldiv").hide();
            $("#leisurediv").hide();
            $("#bathroomdiv").show();
            $("#kitchendiv").hide();
        });


    });
</script>

@*<div class='tableauPlaceholder' id='viz1599308384001' style='position: relative'><noscript><a href=''><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gl&#47;GlobalRecyclingRate1&#47;recyclingrate&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='GlobalRecyclingRate1&#47;recyclingrate' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gl&#47;GlobalRecyclingRate1&#47;recyclingrate&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>
<script type='text/javascript'>var divElement = document.getElementById('viz1599308384001'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>*@


