<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />



    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @* This is for the mapbox map. *@
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*This is used for the Geocoding Mapbox API*@
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />

    <style>
        #homenav {
            color: black;
            font-family: 'Calibri';
        }

            #homenav:hover {
                background-color: azure;
            }

        .navbar-toggle {
            border-color: lightgreen;
        }


        .dropdown {
            position: relative;
        }

            .dropdown:hover .dropdown-menu {
                display: block;
            }
    </style>




</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top col-xs-12 col-sm-12 col-12">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span style="border-color:black;" class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img onclick="location.href='@Url.Action("Index", "Home")'" src="~/Content/Images/plaboo.png"
                     style="position:relative;top:-9px;width:55px;height:55px;">

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- <li>@Html.ActionLink("Home", "Index", "Home")</li>-->


                    <li><a id="homenav" style="top:0px;" href="@Url.Action("Index", "Home")"><i class="fas fa-globe-asia"></i><span> Home</span></a></li>
                    <li class="dropdown">
                        <a id="homenav" style="top:0px;" href="#"><i class="fas fa-recycle"></i><span> Recycle</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a id="homenav" href="@Url.Action("Index", "allCouncilPostcodes")" class="dropdown-item"><span>Recycling Status</span></a></li>
                            <li><a id="homenav" href="@Url.Action("RecyclingSuggestions", "Home")" class="dropdown-item"><span>Recycling Suggestions</span></a></li>
                            <li><a id="homenav" href="@Url.Action("Index", "RecyclingCentres")" class="dropdown-item"><span>Waste Management Centres</span></a></li>


                        </ul>
                    </li>
                    <li><a id="homenav" style="top:0px;" href="@Url.Action("Index", "Alternatives")"><i class="fas fa-directions"></i><span> Alternatives</span></a></li>
                    <li><a id="homenav" style="top:0px;" href="@Url.Action("Quiz", "Home")"><i class="fas fa-question-circle"></i><span> Quiz</span></a></li>
                    @*<li><a id="homenav" style="top:0px;" href="@Url.Action("Index", "RecyclingCentres")"><i class="fas fa-question-circle"></i><span> Centre</span></a></li>*@
                  

                </ul>

                @*@Html.Partial("_LoginPartial")*@
            </div>


        </div>

        <div class="header">

            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>
        </div>
    </div>
   
    <div class="container-fluid body-content" style="">
        @RenderBody()



        <footer>

            @*<div id="footer">
                    <div class="row">
                        <div class="col-md-12">
                            <img style="width:1500px;height:400px;" src="~/Content/Images/footer.png" />
                        </div>
                    </div>

                </div>*@
            @*<div id="solution" style="background-color:black;margin-top:15px;">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-1">
                            <img style="width:140px;height:120px;margin-top:20px;margin-bottom:20px;" src="~/Content/Images/plaboo.png" />
                        </div>
                        <div class="col-md-9">
                            <p style="font-family:'Calibri';color:white;margin-top:70px;">

                                    Copyrights @@ All reserved. Plaboo-2020 Developed by Team Slay

                            </p>
                        </div>


                    </div>
                </div>*@

        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
